
<div class="addPropertyFormContainer {{formSubmitStatus}}" ng-controller="AddPropertyController" ng-init="initialize()">

    <div class="listing-holder">
        <a class="listing-opener"><span class="icon-menu"></span></a>
        <ul class="section-listing">
            <li class="activeAddPropertyNavLink"><a href="#basics-block" class="scrollAddPropertyNavLink"><span class="icon-info"></span>Basic</a></li>
            <li><a href="#feature-block" class="scrollAddPropertyNavLink"><span class="icon-symbol"></span> Features</a></li>
            <li><a href="#attactment-block" class="scrollAddPropertyNavLink"><span class="icon-clip"></span> Attachments</a></li>
            <li><a href="#contact-information" class="scrollAddPropertyNavLink"><span class="icon-contact_phone"></span> Contact Info</a></li>
        </ul>
    </div>

    <form class="property-add" ng-submit="submitProperty()">
        <section class="basics-block" id="basics-block">
            <strong class="form-heading"><span>Property Type and Location</span></strong>
            <div class="layout">
                <span class="title">purpose:</span>
                <div class="input-holder">
                    <ul class="radio-holder">
                        <li>
                            <label for="sale">
                                <input type="radio" name="radio" id="sale">
                                <span class="fake-radio"></span>
                                <span class="fake-label">For Sale</span>
                            </label>
                        </li>
                        <li>
                            <label for="rent">
                                <input type="radio" name="radio" id="rent">
                                <span class="fake-radio"></span>
                                <span class="fake-label">Rent</span>
                            </label>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="layout">
                <span class="title">Property Type:</span>
                <div class="input-holder">
                    <ul class="radio-holder">
                        <li data-ng-repeat="type in types">
                            <label for="{{type.name}}">
                                <input type="radio" name="propertyType" ng-model="$parent.selectedType" value="{{type.id}}" id="{{type.name}}">
                                <span class="fake-radio"></span>
                                <span class="fake-label">{{type.name}}</span>
                            </label>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div id="tab1">
                            <ul class="radio-holder">
                                <li data-ng-repeat="subType in subTypes | filter:{propertyTypeId : selectedType}">
                                    <label for="{{subType.name}}">
                                        <input type="radio" name="propertySubType" ng-model="$parent.selectedSubTypeId" id="{{subType.name}}" value="{{subType.id}}">
                                        <span class="fake-radio"></span>
                                        <span class="fake-label">{{subType.name}}</span>
                                    </label>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="layout add">
                <div class="layout-holder">
                    <span class="title">Society:</span>
                    <select  class="" ui-select2 name="propertySociety" ng-model="propertySociety"  data-placeholder="Pick a society">
                        <option data-ng-repeat="society in societies" value="{{society.id}}">{{society.name}}</option>
                    </select>
                </div>
                <div class="layout-holder">
                    <span class="title">Block:</span>
                    <select class="" name="propertyBlock">
                        <option data-ng-repeat="block in blocks | filter:{ societyId: propertySociety }" value="{{block.id}}">{{block.name}}</option>
                    </select>
                </div>
            </div>
            <strong class="form-heading"><span>Property &amp; Area</span></strong>
            <div class="layout add">
                <div class="layout-holder">
                    <span class="title">Price:</span>
                    <input type="number" >
                </div>
                <span class="calculatedPrice"></span>
            </div>
            <div class="layout add">
                <div class="layout-holder">
                    <span class="title">Land Area:</span>
                    <input type="number" step="any" >
                </div>
                <div class="layout-holder">
                    <span class="title">Unit:</span>
                    <select>
                        <option>Select Unit</option>
                        <option>Squar Feet</option>
                        <option>Squar Yards</option>
                        <option>Squar Meters</option>
                        <option>Marla</option>
                        <option>Kanal</option>
                    </select>
                </div>
            </div>
            <strong class="form-heading"><span>Property Details</span></strong>
            <div class="layout add">
                <div class="layout-holder">
                    <span class="title">Property Title:</span>
                    <input type="text" ng-model="testModel">
                </div>
            </div>
            <div class="layout add">
                <div class="layout-holder add">
                    <span class="title">Description:</span>
                    <textarea  ng-model="testModel"></textarea>
                </div>
            </div>
            <div class="layout add">
                <div class="layout-holder" ng-repeat="feature in features | filter:{ assignedSubTypeId : selectedSubTypeId } | filter:{priority:1}">
                    <span class="title">{{feature.featureName}}:</span>
                    <span ng-bind-html="getFeatureHtml(feature)"></span>
                </div>
            </div>
            <div my-directive my-text="helo"></div>
        </section>
        <section class="feature-block" id="feature-block">
            <strong class="form-heading"><span>extra features</span></strong>
            <div class="holder">
                <span class="tag">Indoor features</span>
                <ul class="feature-list">
                    <li>
                        <input type="checkbox">
                        <label>Alarm System</label>
                    </li>
                    <li>
                        <input type="checkbox">
                        <label>Intercom</label>
                    </li>
                    <li>
                        <input type="checkbox">
                        <label>Ensuite</label>
                    </li>
                    <li>
                        <input type="checkbox">
                        <label>Dishwasher</label>
                    </li>
                    <li>
                        <input type="checkbox">
                        <label>Built-in wardrobes</label>
                    </li>
                    <li>
                        <input type="checkbox">
                        <label>Ducted vacuum system</label>
                    </li>
                </ul>
                <span class="tag">outdoor features</span>
                <ul class="feature-list">
                    <li>
                        <input type="checkbox">
                        <label>Alarm System</label>
                    </li>
                    <li>
                        <input type="checkbox">
                        <label>Intercom</label>
                    </li>
                    <li>
                        <input type="checkbox">
                        <label>Ensuite</label>
                    </li>
                    <li>
                        <input type="checkbox">
                        <label>Dishwasher</label>
                    </li>
                    <li>
                        <input type="checkbox">
                        <label>Built-in wardrobes</label>
                    </li>
                    <li>
                        <input type="checkbox">
                        <label>Ducted vacuum system</label>
                    </li>
                </ul>
                <span class="tag">eco features</span>
                <ul class="feature-list">
                    <li>
                        <input type="checkbox">
                        <label>Alarm System</label>
                    </li>
                    <li>
                        <input type="checkbox">
                        <label>Intercom</label>
                    </li>
                    <li>
                        <input type="checkbox">
                        <label>Ensuite</label>
                    </li>
                    <li>
                        <input type="checkbox">
                        <label>Dishwasher</label>
                    </li>
                    <li>
                        <input type="checkbox">
                        <label>Built-in wardrobes</label>
                    </li>
                    <li>
                        <input type="checkbox">
                        <label>Ducted vacuum system</label>
                    </li>
                </ul>
                <span class="tag">other features</span>
                <ul class="feature-list">
                    <li>
                        <input type="checkbox">
                        <label>Alarm System</label>
                    </li>
                    <li>
                        <input type="checkbox">
                        <label>Intercom</label>
                    </li>
                    <li>
                        <input type="checkbox">
                        <label>Ensuite</label>
                    </li>
                    <li>
                        <input type="checkbox">
                        <label>Dishwasher</label>
                    </li>
                    <li>
                        <input type="checkbox">
                        <label>Built-in wardrobes</label>
                    </li>
                    <li>
                        <input type="checkbox">
                        <label>Ducted vacuum system</label>
                    </li>
                </ul>
            </div>
        </section>
        <section class="attactment-block" id="attactment-block">
            <strong class="form-heading"><span>attactments</span></strong>
            <ul class="image-uploading-area">
                <li>
                    <div class="file-uploader">
                        <input type="file" ngf-select ng-model="files.mainFile.file" onchange="previewAddPropertyImg(this , '.img-thumb1')" class="upload-img">
                        <div class="image-holder">
                            <img src="#" class="img-thumb1" alt="image Description">
                            <span class="propertyDocumentCloseBtn" ng-click="cancelFile(0)"><span class="icon-cross"></span></span>
                        </div>
                    </div>
                    <input type="text" ng-model="files.mainFile.title" class="picture-name disableInput" placeholder="Title">
                </li>
                <li>
                    <div class="file-uploader">
                        <input type="file" ngf-select ng-model="files.secondFile" onchange="previewAddPropertyImg(this , '.img-thumb2')" class="upload-img">
                        <div class="image-holder">
                            <img src="#" class="img-thumb2" alt="image Description">
                            <span class="propertyDocumentCloseBtn" ng-click="cancelFile(1)"><span class="icon-cross"></span></span>
                        </div>
                    </div>
                    <input type="text" class="picture-name disableInput" placeholder="Title">
                </li>
                <li>
                    <div class="file-uploader">
                        <input type="file" ngf-select ng-model="files.thirdFile" onchange="previewAddPropertyImg(this , '.img-thumb3')" class="upload-img">
                        <div class="image-holder">
                            <img src="#" class="img-thumb3" alt="image Description">
                            <span class="propertyDocumentCloseBtn" ng-click="cancelFile(2)"><span class="icon-cross"></span></span>
                        </div>
                    </div>
                    <input type="text" class="picture-name disableInput" placeholder="Title">
                </li>
                <li>
                    <div class="file-uploader">
                        <input type="file" onchange="previewAddPropertyImg(this , '.img-thumb4')" class="upload-img">
                        <div class="image-holder">
                            <img src="#" class="img-thumb4" alt="image Description">
                            <span class="propertyDocumentCloseBtn"><span class="icon-cross"></span></span>
                        </div>
                    </div>
                    <input type="text" class="picture-name disableInput" placeholder="Title">
                </li>
                <li>
                    <div class="file-uploader">
                        <input type="file" onchange="previewAddPropertyImg(this , '.img-thumb5')" class="upload-img">
                        <div class="image-holder">
                            <img src="#" class="img-thumb5" alt="image Description">
                            <span class="propertyDocumentCloseBtn"><span class="icon-cross"></span></span>
                        </div>
                    </div>
                    <input type="text" class="picture-name disableInput" placeholder="Title">
                </li>
                <li>
                    <div class="file-uploader">
                        <input type="file" onchange="previewAddPropertyImg(this , '.img-thumb6')" class="upload-img">
                        <div class="image-holder">
                            <img src="#" class="img-thumb6" alt="image Description">
                            <span class="propertyDocumentCloseBtn"><span class="icon-cross"></span></span>
                        </div>
                    </div>
                    <input type="text" class="picture-name disableInput" placeholder="Title">
                </li>
                <li>
                    <div class="file-uploader">
                        <input type="file" onchange="previewAddPropertyImg(this , '.img-thumb7')" class="upload-img">
                        <div class="image-holder">
                            <img src="#" class="img-thumb7" alt="image Description">
                            <span class="propertyDocumentCloseBtn"><span class="icon-cross"></span></span>
                        </div>
                    </div>
                    <input type="text" class="picture-name disableInput" placeholder="Title">
                </li>
                <li>
                    <div class="file-uploader">
                        <input type="file" onchange="previewAddPropertyImg(this , '.img-thumb8')" class="upload-img">
                        <div class="image-holder">
                            <img src="#" class="img-thumb8" alt="image Description">
                            <span class="propertyDocumentCloseBtn"><span class="icon-cross"></span></span>
                        </div>
                    </div>
                    <input type="text" class="picture-name disableInput" placeholder="Title">
                </li>
            </ul>
        </section>
        <section class="contact-information" id="contact-information">
            <strong class="form-heading"><span>Contact info</span></strong>
            <div class="layout add">
                <div class="layout-holder">
                    <span class="title">owner:</span>
                    <select class="searchable-select">
                        <option>Select Block</option>
                    </select>
                </div>
                <div class="layout-holder">
                    <span class="title">contact person:</span>
                    <input type="text" >
                </div>
            </div>
            <div class="layout add">
                <div class="layout-holder">
                    <span class="title">Phone:</span>
                    <input type="text" >
                </div>
                <div class="layout-holder">
                    <span class="title">Cell:</span>
                    <input type="text" >
                </div>
            </div>
            <div class="layout add">
                <div class="layout-holder">
                    <span class="title">fax:</span>
                    <input type="text" >
                </div>
                <div class="layout-holder">
                    <span class="title">email:</span>
                    <input type="email" >
                </div>
            </div>
        </section>
        <button type="submit"><span class="icon-arrows"></span>Save Property</button>
    </form>

</div>