
<div class="property-listing-holder" ng-init="initialize()" ng-controller="ListPropertiesController">
    <div class="listing-cetegories-links">
        <ul class="navFor-mobile">
            <li>
                <span class="tag">For Sale</span>
                <a class="slide-onMobile-opener">
                    <strong class="active"><span class="icon-flash-activation"></span> active <span class="numbering">999+</span></strong>
                </a>
            </li>
        </ul>
        <ul class="slide-onMobile">
            <li ng-class="{'active-nav':searchPropertiesParams.status_id === 1}">
                <a ng-click="setPropertyStatus(1)" href="">
                    <strong class="active"><span class="icon-flash-activation"></span> active <span class="numbering">999+</span></strong>
                </a>
            </li>
            <li ng-class="{'active-nav':searchPropertiesParams.status_id === 2}">
                <a ng-click="setPropertyStatus(2)" href="">
                    <strong class="pendings"><span class="icon-clock"></span> pendings <span class="numbering">88</span></strong>
                </a>
            </li>
            <li ng-class="{'active-nav':searchPropertiesParams.status_id === 3}">
                <a ng-click="setPropertyStatus(3)" href="">
                    <strong class="rejected"><span class="icon-sign"></span> rejected <span class="numbering">2</span></strong>
                </a>
            </li>
            <li ng-class="{'active-nav':searchPropertiesParams.status_id === 4}">
                <a ng-click="setPropertyStatus(4)" href="">
                    <strong class="expired"><span class="icon-exclamation-triangle"></span> expired <span class="numbering">99</span></strong>
                </a>
            </li>
            <li ng-class="{'active-nav':searchPropertiesParams.status_id === 5}">
                <a ng-click="setPropertyStatus(5)" href="">
                    <strong class="deleted"><span class="icon-trash"></span> deleted <span class="numbering">34</span></strong>
                </a>
            </li>
        </ul>
    </div>
    <div class="property-form-table">
        <div class="property-filter">
            <form class="by-user-sorting">
                <ul>
                    <li>
                        <label>Show</label>
                        <select>
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                            <option>6</option>
                            <option>7</option>
                            <option>8</option>
                            <option>9</option>
                            <option>10</option>
                        </select>
                    </li>
                    <li>
                        <label>listings per page from</label>
                        <select>
                            <option>Zain</option>
                            <option>Nouman</option>
                            <option>Waqas</option>
                            <option>Sajid</option>
                        </select>
                    </li>
                </ul>
                <input type="submit" value="Go">
            </form>
            <form class="by-id-sorting">
                <ul>
                    <li>
                        <label>sorty by</label>
                        <select>
                            <option>ID</option>
                            <option>Type</option>
                            <option>Location</option>
                            <option>Price</option>
                            <option>Expiry</option>
                            <option>Views</option>
                        </select>
                    </li>
                    <li>
                        <label>in</label>
                        <select>
                            <option>Descending</option>
                            <option>Ascending</option>
                        </select>
                    </li>
                </ul>
                <input type="submit" value="Go">
            </form>
        </div>
        <div class="table-responsive">
            <table class="propeties-table">
                <tr>
                    <th>
                        {{test.foo}}
                        <input type="checkbox" id="ID">
                        <label><span>ID</span></label>
                    </th>
                    <th><span>Type</span></th>
                    <th><span>Location</span></th>
                    <th><span>Price (PKR)</span></th>
                    <th><span>Listed Date</span></th>
                    <th><span>Views</span></th>
                    <th><span>Controls</span></th>
                </tr>
                <tr data-ng-repeat="property in properties">
                    <td>
                        <input type="checkbox" id="id1">
                        <label for="id1">{{property.id}} </label>
                    </td>
                    <td>{{property.type.parentType.name}}. {{property.type.subType.name}} {{property.land.area}} {{property.land.unit.name}} </td>
                    <td> {{property.location.society.name}} - Block {{property.location.block.name}}</td>
                    <td>{{property.price}}</td>
                    <td>
                        <time datetime="2016-04-18">18 Apr 2016</time>
                    </td>
                    <td>{{property.totalLikes}}</td>
                    <td>
                        <a href="#" class="details" title="Details"><span class="icon-notebook"></span></span></a>
                        <a href="#" class="edit" title="Edit the property"><span class="icon-pencil"></span></a>
                        <a href="#" class="delete" title="Delete the property"><span class="icon-trash"></span></a>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>