<div id="wrapper" ng-init="">
    <header id="header">
        <a href="#" class="logo">Property42</a>
        <a class="sideBar-opener"><span></span></a>
        <a href="#home/properties/add" class="add-property"><span class="hidden-xs">Add a</span> property</a>
        <div class="searhForm-holder">
            <a class="form-openerMobile"><span class="icon-search"></span></a>
            <form class="searh-dashboard">
                <input type="search" placeholder="Searh by ID">
                <button type="submit"><span class="icon-search"></span></button>
            </form>
        </div>
    </header>
    <main id="main" role="main">
        <aside id="sidebar-dashboard" ng-controller="SidebarController">
            <div class="user-picture">
                <div class="layout">
                    <a href="#" class="image-thumb"><img src="http://localhost/property42/public/ng-apps/dashboard/v1/assets/images/shani_nomi.jpg" width="388" height="395" alt="user-image"></a>
                    <div class="layout">
                        <a href="#" class="user-name">Zain ali</a>
                        <span class="account-type">premium</span>
                    </div>
                </div>
                <ul class="notifications-links">
                    <li><a href="#" title="Email Alerts"><span class="icon-service-courier"></span></a></li>
                    <li><a href="#" title="Messages Alerts"><span class="icon-facebook-chat-balloons"></span></a></li>
                </ul>
            </div>
            <div class="form-holder">
                <form class="search-sideBar">
                    <input type="search" placeholder="Search Links">
                    <button type="submit"><span class="icon-search"></span></button>
                </form>
            </div>
            <ul class="sideBar-links">
                <li><a href="#"><span class="icon-home-button"></span>dashboard</a></li>
                <li ng-class="{'active':activeLink==='home.properties.all'}">
                    <a href="#home/listings/all"><span class="icon-list"></span>listings <span class="badge">{{propertiesCounts | filterByCountParam: purpose.id}}</span></a>
                    <ul class="sub-links">
                        <li data-ng-repeat="purpose in purposes" ng-class="{'active':activeLink==='home.properties.{{purpose.name}}'}"><a href="#home/properties/{{purpose.name}}"><span class="icon-clothes-tag"></span> {{purpose.displayName}} <span class="badge small">{{propertiesCounts | filterByCountParam: purpose.id}}</span></a></li>
                    </ul>
                </li>
                <li><a href="#"><span class="icon-staff-symbol"></span>Agency Staff</a></li>
                <li><a href="#"><span class="icon-favourites-filled-star-symbol"></span>favorites</a></li>
            </ul>
        </aside>
        <div class="pages-holder">
            <ui-view></ui-view>
        </div>
    </main>
    <footer id="footer">
        <div class="container">
            <div class="cols-holder">
                <div class="col">
                    <h2>Address</h2>
                    <address>64Q Defance phase 8 Ax-air avenue, Lahore</address>
                </div>
                <div class="col">
                    <h2>About</h2>
                    <ul>
                        <li><a href="#">Terms of Trade</a></li>
                        <li><a href="#">Privacy Policy</a></li>
                        <li><a href="#">Copyrights</a></li>
                        <li><a href="#">About Us</a></li>
                    </ul>
                </div>
                <div class="col">
                    <h2>Follow us</h2>
                    <ul class="social-networks">
                        <li><a href="#" class="facebook"><span class="icon-facebook"></span></a></li>
                        <li><a href="#" class="twitter"><span class="icon-twitter"></span></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
</div>