<div class="registrationFormHolder" ng-init="initialize()">
    <form class="registration-form" ng-submit="updateUser()" ng-class="{'agent-info' : userIsAgent == true}">
        <strong class="heading-profile">My Profile.</strong>
        <div class="input-holder">
            <label class="icon-user" for="fName"></label>
            <input type="text" placeholder="Enter Your First Name" name="fName" id="fName" >
            <span class="border"></span>
            <span class="error-text"></span>
        </div>
        <div class="input-holder">
            <label class="icon-user" for="lName"></label>
            <input type="text" placeholder="Enter Your Last Name" name="lName" id="lName" >
            <span class="border"></span>
            <span class="error-text"></span>
        </div>
        <div class="input-holder">
            <label class="icon-key" for="pass1"></label>
            <input type="password" placeholder="Enter Your Password" id="pass1" name="password" >
            <span class="border"></span>
            <span class="error-text"></span>
        </div>
        <div class="input-holder">
            <label class="icon-key" for="cpass"></label>
            <input type="password"  placeholder="Confirm Password" name="passwordAgain" id="cpass" >
            <span class="border"></span>
            <span class="error-text"></span>
        </div>
        <div class="input-holder">
            <label class="icon-envelope" for="email1"></label>
            <input type="email" placeholder="Enter Your Email Address" id="email1" name="email" >
            <span class="border"></span>
            <span class="error-text"></span>
        </div>
        <h1>Contact Information</h1>
        <div class="input-holder">
            <label class="icon-phone" for="phone"></label>
            <input type="tel" placeholder="Enter Your Phone Number" name="phone" id="phone" >
            <span class="border"></span>
            <span class="error-text"></span>
        </div>
        <div class="input-holder">
            <label class="icon-phone_iphone" for="cell"></label>
            <input type="tel" placeholder="Enter Your Cell / Mobile Number" name="mobile" id="cell" >
            <span class="border"></span>
            <span class="error-text"></span>
        </div>
        <div class="input-holder">
            <label class="icon-fax" for="fax"></label>
            <input type="tel" placeholder="Enter Fax Details" name="fax" id="fax" >
            <span class="border"></span>
            <span class="error-text"></span>
        </div>
        <div class="input-holder">
            <label class="icon-directions" for="address"></label>
            <input type="text" placeholder="Enter Your Address" name="address" id="address" >
            <span class="border"></span>
            <span class="error-text"></span>
        </div>
        <div class="input-holder">
            <label class="icon-file-zip" for="zip"></label>
            <input type="text" placeholder="Enter Zip Code" name="zipCode" id="zip">
            <span class="border"></span>
            <span class="error-text"></span>
        </div>
        <div class="input-holder">
            <label for="agent" class="agent-check">
                <input type="checkbox" ng-model="userIsAgent" class="hidden-checkfield agent-brokerCheckbox" id="agent">
										<span class="fake-checkbox">
											<span class="fake-button"></span>
										</span>
                <span class="fake-label">Are you an Agent</span>
            </label>
        </div>
        <div class="input-holder full-width">
            <div class="roles">
                <a class="role-opener">Other Roles: ({{form.data.roles.length}} Selected)</a>
                <span class="error-text"></span>
                <ul class="role-listing">
                    <li data-ng-repeat="role in resources.userRoles">
                        <input checklist-model="form.data.roles" checklist-value="role.id" type="checkbox" id="role_{{role.id}}" class="userRole-checkbox" name="userRoles[]" value="{{role.id}}">
                        <label for="role_{{role.id}}">{{role.name}}</label>
                    </li>
                </ul>
            </div>
        </div>
        <div class="agent-information">
            <h1>Agency Information</h1>
            <div class="input-holder">
                <label for="agency-name" class="icon-agency"></label>
                <input type="text" placeholder="Enter An Agency Name" id="agency-name" name="agencyName" >
                <span class="border"></span>
                <span class="error-text"></span>
            </div>
            <div class="input-holder onTop-mobile">
                <div class="company-logo">
                    <input type="file" name="companyLogo" onchange="companyLogoUploader(this , '.company-profileP')">
                    <div class="picture-holder"><img src="" class="company-profileP" alt="Company logo"></div>
                    <a class="delete"><span class="icon-bin"></span></a>
                    <span class="error-text"></span>
                </div>
            </div>
            <div class="input-holder full-width">
                <label for="D-services" class="icon-technical-support"></label>
                <textarea id="D-services" name="agencyDescription" placeholder="Description of Services"></textarea>
                <span class="border"></span>
                <span class="error-text"></span>
            </div>
            <h1> Agency Contact Details</h1>
            <div class="input-holder">
                <label for="compny-phone" class="icon-phone"></label>
                <input type="tel" placeholder="Enter Company Phone Number" name="companyPhone" id="compny-phone" >
                <span class="border"></span>
                <span class="error-text"></span>
            </div>
            <div class="input-holder">
                <label for="compny-mobile" class="icon-phone_iphone"></label>
                <input type="tel" placeholder="Enter Company Mobile Number" name="companyMobile" id="compny-mobile" >
                <span class="border"></span>
                <span class="error-text"></span>
            </div>
            <div class="input-holder full-width">
                <label for="compny-address" class="icon-directions"></label>
                <input type="text" placeholder="Enter Company Address" name="companyAddress" id="compny-address" >
                <span class="border"></span>
                <span class="error-text"></span>
            </div>
            <div class="input-holder">
                <label for="compny-email" class="icon-envelope"></label>
                <input type="email" placeholder="Enter Company Email" name="companyEmail" id="compny-email" >
                <span class="border"></span>
                <span class="error-text"></span>
            </div>
        </div>
        <div class="input-holder full-width">
            <button type="submit">Update profile</button>
        </div>
    </form>
</div>